@import './../variables.scss';

.header {
  width: 100%;
  background: $white;
  color: $gray;
  position: relative;
  background: linear-gradient(to right, #c22a22, #ca4b33 19%, #d57826 39%, #b7007b 59%, #6c3784 80%, #005db5 100%) left
    bottom
    $white
    no-repeat;
  background-size:100% 4px ;

  .header__info {
    border-bottom: 1px solid $ligth-blue;
    padding: 7px 0 11px 0;
    text-align: right;
    font-size: 12px;

    .header__info__container__info {
      margin-left: 40px;
      display: inline-block;
      span {
        margin-left: 10px;
      }

      .header__info__container__info__warning {
        padding: 10px;
        margin: 0 5px 0 0;
        background: url('/static/warning.svg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }
    }

  }

  .header__brand {
    padding: 17px 0;
    border-bottom: 1px $ligth-gray solid;
    .header__brand__logo {
      width: 114px;
    }

    .header__brand__buttons {
      display: inline-block;
      float: right;
      text-align: right;
      padding: 5px 0 0 0;

      .btn {
        margin: 0 0 0 20px;
      }
    }

    .header__brand--logged {
      padding: 0;
      position: relative;
    }

    .header__brand__user {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 3px $orange solid;
      position: absolute;
      top: -5px;
      right: 0;
      transition: all .2s ease-in-out;
    }

    .header__brand__user.header__brand__user--opened {
      z-index: 52;
      position: fixed;
      top: 50px;
      right: 85px;
      width: 100px;
      height: 100px;
      border-color: $ligth-gray;
    }

    .header__brand__hamburger { display: none; }
  }

  .header__menu {
    .header__menu__inline {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: center;
      align-items: center;
      justify-content: space-between;

      li:nth-child(3), li:nth-child(4), li:nth-child(7) {
        flex-grow: .2;
      }

      li {
        flex-basis: 10px;
        padding: 15px 0;
        font-size: 14px;
        cursor: pointer;
        text-transform: uppercase;
      }
    }
  }

  .header__aside_menu {
    position: fixed;
    display: none;
    background-color: rgba(239, 124, 0, .95);
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    z-index: 20;
    padding: 10% 0;
    text-align: center;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      text-transform: uppercase;
      li {
        padding: 20px 0;
        width: 100%;
        font-weight: bold;
        font-size: 20px;
      }

      li:hover {
        background: $ligth-gray;
      }
    }
  }

  .header__aside_menu.header__aside_menu--opened {
    display: block;
    width: 100%;
    height: 100%;
  }

  .nav {
    display: inline-block;
    float: right;

    display: inline;
    float: right;
    padding: 0;
    height: 52px;
    line-height: 52px;

     a {
       text-decoration: none;
       font-family: Poppins-Bold;
       padding: 0 15px;
       font-size: .80rem;
       color: $black;
     }
  }
}

@media (max-width: 1024px) {
  .header {
    .header__info { display: none; }
    .header__menu { display: none; }
    .header__brand {
      border: none;
      .header__brand__buttons {
        button { display: none; }
        padding: 0;
      }
      .header__brand__hamburger {
        display: flex;
        flex-direction: column;
        width: 50px;
        span {
          background: $black;
          border-radius: 5px;
          flex: 1 1 2px;
          margin: 9px 0 4px 0;
        }
      }
    }
  }
}
