@import '~swagger-ui/dist/swagger-ui.css';
@import "variables";

@font-face {
    font-family: 'GothamRounded';
    font-weight: normal;
    font-display: auto;
    src: url('../fonts/GothamRoundedBook_21018.ttf');
}

@font-face {
    font-family: 'GothamRounded-Bold';
    font-weight: bold;
    font-display: auto;
    src: url('../fonts/GothamRoundedBold_21016.ttf');
}

@font-face {
    font-family: 'GothamRounded';
    font-weight: normal;
    font-display: auto;
    src: url('../fonts/GothamRoundedLight_21020.ttf');
}

body, html {
  margin: 0;
  padding: 0 0 0 0;
  background: $white;
  font-family: GothamRounded
}

#app {
  width: 100%;
  padding: 70px 0 0 0;
  margin: 0;
  .app__content {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.container {
  max-width: 1170px;
  margin: 0pt auto;
}

@media (max-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 750px;
  }
}


//@import "components/Layout.scss";
//@import "pages/landing/Landing.scss";
